Nav.Item{
    color: black;
}

.nav-link{
    color: black !important;
}
.filters{
    font-size: 15px;
    margin-bottom: 2px;
}
.filters:hover{
   border-bottom: 1px solid gray;
   background-color: transparent;
}
