.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
display: none;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{

    color: rgb(0, 0, 0); 

}
.swiper-wrapper{
    align-items: flex-end;
}

.swiperslide:hover{
    box-shadow: 0px 0px 50px 6px rgba(0,0,0,0.15);

}
.swiperslide:hover .showbtn{
    transition: all 1s ease-in;
    display: block !important;
    justify-content: flex-start;
    position: relative; 
    z-index: 1;
   
}
.showbtn{
    
    background-color: #EF394E;
    border: none;
 

}