.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
pointer-events: none;
top: 10px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{

    color: rgb(0, 0, 0); 

}
.swiper-wrapper{
    align-items: flex-end;
}