
  .btn-buy {
    background-color: #fe696a;
    border-color: #fe696a;
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  .carousel-control-next, .carousel-control-prev{
    color: white !important;
    left: 0 ;
   background-color: white;
    width: fit-content;
  }
  .carousel-indicators{
 display: none;
  }

  .carousel{
z-index: 0;
  }


 
 