.text_Brands{
    font-size: xx-large !important;
}

.products_galary {
    cursor: pointer;
    opacity: .8;
    transition: opacity 0.3s;
    padding:5px 10px;
}

.products_galary:hover{
    opacity: 1;
    transform: scale(110%);
    transition: all .5s ;
}
