.header{
    background-color:rgb(55,63,80) ;
    min-height: 20vh;
    font-size: x-large;
    
}
.first-col{
    margin-top: -3rem !important;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.41);
    border-radius: 10px;
}
.buy_card >div{

}
.buy_card{

}
 
.shadowpic{
    width: 20%;
  margin: 0 auto;
  opacity: .7;
  cursor: pointer; 
  margin-bottom: 2rem;
  border: 1px solid lightgray;

}
.shadowpic:hover{
    opacity: 1;
    transform: scale(1.5);
    
}


  
#badge-ribbon {
    position: relative;
    background: red;
    height: 100px;
    margin-top: 15px;
    width: 100px;
    border-radius: 50px;
  }
  #badge-ribbon:before,
  #badge-ribbon:after {
    content: '';
    position: absolute;
    border-bottom: 70px solid red;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    top: 90px;
    left: -10px;
    transform: rotate(-140deg);
  }
  #badge-ribbon:after {
    left: auto;
    right: -10px;
    transform: rotate(140deg);
  }
  .scrollspy {
    background-color: #515151;
    
 
   
  }
  ul {
    list-style: none;
  }
  li {
    margin: 10px;
    padding: 10px 0;
  }
  a {
    color: white;
  }
  .isCurrent {
    font-weight: bold;
  }
  
  .isCurrent a, h2 {
    color: #f1a07a;
  }
  section{
    text-align: center;
  }
  .listofinfo :first-of-type li {
font-weight: bold;
  }
  .listofinfo ul li {
font-size: 20px;
  }

  