*{
  box-sizing: border-box;
}
@font-face {
  font-family: vazir;
  src: url('./assest/font/Vazir-Regular-FD-WOL.ttf');
}
:root{
  --primaryColor:#6d28d9;
  --secondaryColor:#ede9fe;
  --bodyColor:#f8f8f8;
}

body,html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bodyColor);
  line-height: 1.4;
}
#root{
  direction: rtl;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: vazir;
}